header {
  float: right;
  margin-right: 2%;
  width: 100%;
  position: relative;

img {
  float: right;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}
hr {
clear: right;
width: 80%;
margin-right: 4.3%;
}
}
