
section {
  position: absolute;
  width: 15%;
  margin-left: 2%;

.logo {
  display: block;
  width: 100%;
  margin-top: 10%;
  margin-right: 0;
  position: inherit;
  margin-left: 6%;
}

.links {
  margin-left: 20%;
  margin-top: 230%;
  width: 30%;
  clear: left;
}

.links ul {
  width: 20%;
}

.links li {
  display: block;
  line-height: 1.5em;
  height: 2em;
}

.links a{
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  background-color: #E9212F;
  border-radius: 4px;
  color: black;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: .5em;
  padding-left: .5em;
}
a:hover {
  background-color: white;
  color: #CCC3C3;
}
}
