#article {
  color: white;
  float: right;
  margin-right: 26%;
  margin-bottom: 3%;
}

#evTitle {
  margin-top: 3%;
  font-size: 1.3em;
  margin-bottom: 2%;
  font-family: 'Questrial', sans-serif;
  color: #CCC3C3;
}

.artContent {
  margin-top: 5%;
}

.artContent img {
  width: 80%;
}
