h3 {
  color: white;
  margin-left: 27%;
  font-size: 2em;
}

h2 {
  font-size: 3em;
  margin-right: 5%;
  color: white;
  font-size: 3em;
  width: 40%;
}

#bio img {
  width: 37%;
  margin-left: 25%;
}

#bio p {
  margin-top: 5%;
  margin-bottom: 4%;
}
